.about-me {
    background-image: linear-gradient(to right ,rgb(67, 68, 67),
    rgb(105, 105, 105) 35% );
    margin: 0;
    min-height: 400px;
}
.about-me__img{
    width: 420px;
    float: left;
    padding-right: 10px;
    margin-left: 10px;


}
.about-me__header {
    margin: auto;
    text-align: center;
    font-size: 35px;
    color: rgb(0, 204, 255);
    padding: 25px;

}

.about-me__paragraph2 {
    margin: 0;
    color: white;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.6;
    text-align: left;
}